* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.125rem;
  overflow-x: hidden;
}

body li {
  list-style: none;
}

body a {
  text-decoration: none;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1023px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hide-for-desktop {
    display: none;
  }
}

.container {
  padding: 3rem 10rem;
}

@media (max-width: 1439px) {
  .container {
    padding: 3rem 8rem;
  }
}

@media (max-width: 1023px) {
  .container {
    padding: 3rem 2rem;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .container {
    padding: 3rem 5rem;
  }
}

h1, h2, h3 {
  color: #252b46;
  line-height: 1.4;
}

p {
  color: #9194a1;
  line-height: 1.5;
  font-size: 1rem;
}

button {
  font-family: 'Rubik', sans-serif;
}

.btn {
  cursor: pointer;
  padding: 13px 10px;
  font-size: 14px;
  font-weight: 500;
  color: #565b71;
  border: 1px solid transparent;
  border-radius: 6px;
  -webkit-box-shadow: #c4c4c4cc -1px 6px 10px 1px;
          box-shadow: #c4c4c4cc -1px 6px 10px 1px;
  background-color: #ecececcc;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@media (min-width: 1024px) {
  .btn {
    padding: 15px 20px;
  }
}

.btn:hover {
  background-color: white;
  border: 1px solid #565b71;
}

.btn-blue {
  cursor: pointer;
  padding: 13px 10px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  border: 1px solid transparent;
  border-radius: 6px;
  -webkit-box-shadow: #c4c4c4cc -1px 6px 10px 1px;
          box-shadow: #c4c4c4cc -1px 6px 10px 1px;
  background-color: #5368df;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@media (min-width: 1024px) {
  .btn-blue {
    padding: 15px 20px;
  }
}

.btn-blue:hover {
  color: #5368df;
  border: 1px solid #5368df;
  background-color: white;
}

.header__logo {
  z-index: 10;
}

.header__wrapper.toggle span:first-child {
  background-color: white;
  -webkit-transform: rotate(45deg) translate(1px, 3px);
          transform: rotate(45deg) translate(1px, 3px);
}

.header__wrapper.toggle span:nth-child(2) {
  display: none;
}

.header__wrapper.toggle span:last-child {
  background-color: white;
  -webkit-transform: rotate(-45deg) translate(3px, -4px);
          transform: rotate(-45deg) translate(3px, -4px);
}

.header__wrapper.toggle::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background-color: #252b46;
  opacity: .94;
}

.header__hamburger {
  z-index: 10;
}

.header__hamburger span {
  display: block;
  height: 4px;
  width: 27px;
  background-color: #252b46;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.header__hamburger span:not(:last-child) {
  margin-bottom: 4px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
}

.header__menu li {
  text-transform: uppercase;
}

.header__menu li:not(:last-child) a {
  color: #252b46;
  margin-right: 2.2rem;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__menu li:not(:last-child) a:hover {
  color: #fa5757;
}

.header__menu li:last-child a {
  background-color: #fa5757;
  color: white;
  border: 1px solid #fa5757;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-weight: 500;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header__menu li:last-child a:hover {
  color: #fa5757;
  background-color: white;
}

.toggle-menu {
  position: absolute;
  top: 96px;
  left: 0;
  bottom: 2rem;
  right: 0;
  padding: 2rem;
  display: none;
  scroll-behavior: none;
  z-index: 10;
}

.toggle-menu ul hr {
  border-bottom: none;
  border-top-width: 2px;
  border-color: white;
  opacity: .5;
}

.toggle-menu ul li {
  margin: 1.5rem 0;
}

.toggle-menu ul li a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: 2px;
}

.toggle-menu ul li a:hover {
  color: #fa5757;
}

.toggle-menu ul li:last-child {
  border: 2px solid white;
  padding: 12px 0;
  border-radius: 5px;
}

.toggle-menu-icon {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.toggle-menu-icon a:not(:last-child) {
  margin-right: 2rem;
}

.hero {
  overflow-x: hidden;
}

@media (min-width: 1024px) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero__img {
  position: relative;
  margin-bottom: 3rem;
}

@media (min-width: 1024px) {
  .hero__img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.hero__img img {
  height: 100%;
  width: 113%;
  -webkit-transform: translateX(-1.5rem);
          transform: translateX(-1.5rem);
  z-index: 2;
}

@media (min-width: 1024px) {
  .hero__img img {
    max-width: 657px;
    height: auto;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .hero__img img {
    width: 75vw;
    position: relative;
    left: 50%;
    right: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.hero__img::after {
  content: "";
  position: absolute;
  height: 80%;
  width: 95%;
  right: -2rem;
  border-bottom-left-radius: 39%;
  bottom: -4px;
  background: #5368df;
  z-index: -1;
}

@media (min-width: 1024px) {
  .hero__img::after {
    height: 72%;
    width: 76%;
    right: -10rem;
    border-bottom-left-radius: 40%;
    bottom: -17px;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .hero__img::after {
    right: -12rem;
  }
}

.hero__title {
  text-align: center;
}

@media (min-width: 1024px) {
  .hero__title {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
  }
  .hero__title h1 {
    font-size: 2.5rem;
    line-height: 1.3;
  }
  .hero__title p {
    margin-bottom: 2rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1440px) {
  .hero__title h1 {
    font-size: 3rem;
  }
  .hero__title p {
    padding-right: 6rem;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .hero__title h1 {
    font-size: 3rem;
  }
  .hero__title p {
    font-size: 1.5rem;
  }
}

.hero__title h1 {
  margin-bottom: 1.5rem;
}

.hero__title p {
  margin-bottom: 1.5rem;
}

.hero__btns {
  text-align: center;
}

@media (min-width: 1024px) {
  .hero__btns {
    text-align: left;
  }
}

.hero__btns button:not(:last-child) {
  margin-right: 10px;
}

@media (min-width: 1024px) {
  .hero__btns button:not(:last-child) {
    margin-right: 14px;
  }
}
/*# sourceMappingURL=main.css.map */