*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: $fontDefault;

    li{
        list-style: none
    }
    a{
        text-decoration: none;
    }
}

.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hide-for-mobile{
    //hide for tablet and mobile 
    @include breakpoint-down(medium){
        display: none;
    }
}
.hide-for-desktop{
    //hide for desktop
    @include breakpoint-up(large){
        display:none;
    }
}

.container{
    padding: 3rem 8.4rem;

    @include breakpoint-down(large){
        padding : 3rem 6rem;
    }

    @include breakpoint-down(medium){
        padding: 3rem 2rem;
    }
}


h1,h2,h3{
    color: $veryDarkBlue;
    line-height: 1.4;
}
p{
    color: $grayishBlue;
    line-height: 1.5;
    font-size: 1rem;
}

.btn{
    cursor: pointer;
    padding: 13px 10px;
    font-size: 14px;
    font-weight: 600;
    color: #565b71;
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: #c4c4c4cc -1px 6px 23px -5px;
    background-color: #ecececcc;
    transition: all 200ms ease-in-out;


    &:hover{
        
        background-color: white;
        border: 1px solid #565b71;
    }
}

.btn-blue{
    cursor: pointer;
    padding: 13px 10px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: #c4c4c4cc 0px 6px 23px -5px;
    background-color: $softBlue;
    transition: all 200ms ease-in-out;

    &:hover{
        color: $softBlue;
        border: 1px solid $softBlue;
        background-color: white;
    }
}
